stages:
  - test

image: mcr.microsoft.com/playwright:v1.57.0-jammy

variables:
  npm_config_cache: "$CI_PROJECT_DIR/.npm"

cache:
  key: "${CI_COMMIT_REF_SLUG}"
  paths:
    - .npm/
    - node_modules/

e2e:playwright:
  stage: test
  tags:
    - regression
  script:
    - npm ci
    - npx playwright install --with-deps
    - npm test
