stages:
  - test

image: mcr.microsoft.com/playwright:v1.57.0-jammy

variables:
  YARN_CACHE_FOLDER: "$CI_PROJECT_DIR/.yarn-cache"

cache:
  key: "${CI_COMMIT_REF_SLUG}"
  paths:
    - .yarn-cache/
    - node_modules/

e2e:playwright:
  stage: test
  tags:
    - regression
  script:
    - yarn install --frozen-lockfile
    - npx playwright install --with-deps
    - yarn test
